body{
    background-color: lightblue;
    
   
}

#container{
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

h1{
    font-size: 40px;
}
p{
    font-size: 40px;
    color: black
}

#minus, #reset, #plus{
    border: none;
    border: solid 2px black;
    border-radius: 8px;
    padding: 5px 8px;
    background: none;
    margin:5px;
}